:root {
    --primaryColor: #244261;
    --primaryAccent: #cac4ce;
    --secondaryColor: #242038;
    --secondaryAccent: #cac4ce;
    --transitionDurationSlow: 150ms;
    --transitionDurationFast: 50ms;
}
#root {
    display: flex;
    justify-content: center;
}
.app {
    width: 500px;
    height: 800px;
    min-height: calc(-80px + 100vh);
    background-color: var(--primaryColor);
    font-size: calc(10px + 2vmin);
    color: var(--primaryAccent);
    padding: 10px;
    font-family: "Inter", sans-serif;
}
/* Utility classes */
a {
    color: var(--primaryAccent);
    cursor: pointer;
    transition-duration: var(--transitionDurationFast);
}
a:hover {
    color: var(--secondaryAccent);
    transition-duration: var(--transitionDurationSlow);
}
h1, h2, h3, h4, span, label, p {
    color: white;
}
h1 {
    margin: 0;
}
h1.title {
    color: var(--secondaryAccent);
    margin: 0 0 0 7px;
}
h3.cardTitle {
    margin: 0 0 7px 0;
    font-weight: 900;
    letter-spacing: 0.025em;
}
p.exchange-text {
    color: rgb(188, 188, 188);
}
p {
    font-size: 14px;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
}
button {
    background-color: var(--primaryColor);
    color: var(--secondaryAccent);
    border: none;
    margin: 0.5em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 2px #00212b;
    border-radius: 4px;
    transition-duration: var(--transitionDurationFast);
}
button:hover {
    background-color: var(--secondaryAccent);
    color: var(--primaryColor);
    transition-duration: var(--transitionDurationSlow);
}
button.square {
    height: 25px;
    width: 25px;
    font-weight: 900;
}
div.buttonGroup {
    display: flex;
    justify-content: center;
}
svg.svg {
    fill: var(--secondaryAccent);
    height: 1em;
    width: 1em;
    margin-left: -6px;
}
.card {
    background-color: var(--secondaryColor);
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #00212b;
}
input {
    color: black;
}
.card-padding-increase {
    background: #37668b  !important;
}
/* END Utility classes */

/* Timer */
div.elapsedTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 20px 40px;
}
div.elapsedTime > h2 {
    margin: 2px auto;
}
/* END Timer */

/* Quick tabs */
p.info {
   margin: 1em;
}
/* End Quick tabs */

/* URL FORMS - START */
div.urlForms > h3 {
    display: flex;
    justify-content: center;
}
div.urlForm {
    display: flex;
}
div.urlForm > input {
    margin: 5px 0 0 0;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 4px;
}
.textInput {
    margin: 0 1em;
}
.checkboxLabel {
    margin: 5px 1em;
    width: 300px;
}
div.urlForm > input.checkboxInput {
    margin: 9px 0 0 0;
    accent-color: var(--primaryColor);
}
div.urlForm > input:focus {
    outline-color: var(--primaryColor);
}
div.saveUrlsContainer {
    display: flex;
    justify-content: center;
}
button.saveUrls {
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: var(--secondaryAccent);
    color: var(--secondaryColor);
}
button.saveUrls:hover {
    background-color: var(--secondaryColor);
    color: var(--secondaryAccent);
}
h3.linkGroupTitle {
    margin: 0;
}
label.urlLabel {
    margin: 0 1em;
}
.main-logo {
    width: 180px;
}
.top-banner {
    height: 40px;
}
.cursor-pointer {
    cursor: pointer;
}
.account-dropdown {
    border: none !important;
    box-shadow: none;
}
.backup-card {
    background-color: rgb(255, 242, 240) !important;
}
.d-nonei {
    display: none !important;
}

.fs-18 {
    font-size: 18px;
}